

*, body {
   font-family: 'Syne', sans-serif !important;
}

/* HEADER */

#site-header.sticky-top {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #C8D6CF;
 }

 .inside-header {
   padding: 0px 40px !important;
 }

 .site-header .header-image {
   vertical-align: middle;
   margin-left: 38px;
 }

 main-navigation .main-nav ul li a {
   padding-top: 20px !important;
   padding-left: 50px !important;
   padding-right: 50px !important;
   line-height: 60px;
 }
 
 li.menu-item a {
    color: #000000 !important;
    font-size: 19px !important;
    display: inline-block;
    padding: 10px 50px !important;
    border-radius: 1px;
    text-align: center;
 }
 
/* Cible le dernier élément "li" du menu */
nav ul li:last-child {
  background: #DC9F96;
 
}

 .separate-containers .site-main {
   margin-top: 0px !important;
   
 }


 /*Personnalisation des éléments du body */
 .site-main{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
 }
 .wp-block-group__inner-container{
  padding-bottom: 0 !important;

 }
 .wp-block-columns{
  margin-bottom: 0 !important;
 }
 .inside-article{
  padding-bottom: 0 !important;
 }

 /*Personnalisation des blocs page */ 
 .padding-block-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
 }
 .top-block-xl{
   margin-top: 100px !important;
 }
 .top-block{
   margin-top: 38px !important;
 }
 .top-block-lg{
   margin-top: 68px !important;
 }
 .top-block-S{
   margin-top: 12px !important;
 }
 .top-block-l{
   margin-top: 50px !important;
 }
 .top-block-title{
   margin-top: 0 !important;
   padding-top: 0 !important;
 }
 .top-block-title-neg{
   margin-top: -40px !important;
   padding-top: 0 !important;
 }
 .top-block-title-neg-1{
   margin-top: -20px !important;
   padding-top: 0 !important;
 }
 .top-separator-block{
  margin-top: 0 !important;
 }
 .down-block{
   margin-bottom: 82px !important;
 }
 .down-block-lg{
   margin-bottom: 82px !important;
 }
 .down-block-sm{
   margin-bottom: 17px !important;
 }
 .down-block-xs{
   z-index: 1;
   margin-bottom: -20px !important;
   padding: 0 !important;
   height: 30px;
   gap: 0;
 }

 .down-block-0{
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
 }
 .down-block-1{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
 }
 .down-block-1 {
  margin-bottom: 60px !important;
}
 .center-block{
  margin-top: auto !important;
 }
 .center-block-1{
  margin-bottom: auto !important;
 }
 .center-block-2{
  margin: auto !important;
 }
 .center-block-left-right{
  width: 50%;
  position: relative !important;
  margin-left: auto !important;
  margin-right: auto !important;
  align-items: center !important;
  justify-content: center !important;
  z-index: 10 !important;
  flex-basis: 100% !important; ;
 }
.left-block{
  margin-left: 0 !important;
  padding-left: 0 !important;

}
.group-block{
  margin-bottom: 30px !important;
}
.who-are-we{
  width: 100% !important;
  font-size: 20px !important;
}
.font-who-are-we{
  font-size: 20px !important;
}
.img-height{
  height: 252px !important;
  object-fit: cover;

}
.alignright{
  height: 252px !important;
  object-fit: cover;
}
.wp-image-60{
  width: auto !important;
  height: 252px !important;
}
.wp-image-55{
  width: auto !important;
  height: 252px !important;
}
.wp-image-56{
  width: auto !important;
  height: 252px !important;
}

.width-block-m{
   width: 100% !important;
}
.width-block-m1{
   width: 85% !important;
}
.width-block-m2{
   width: 70% !important;
   margin: 0 auto !important;
}
.width-block-m3{
   width: 77% !important;
   margin: 0 auto !important;
}
.width-block-sm{
  position: relative !important;
  width: 70% !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0px auto !important;
  margin-bottom: 50px !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;

}

 .negative-down-block{
   margin-top: -80px !important;
   width: 100% !important;
 }
 .block-size{
   flex-basis: 80% !important;
   text-align: center;
  
 }

 /*Personnalisation du 1er formulaire */

 .font{
  font-weight: 400 !important;
 }
 .font-lg{
  font-weight: 800 !important;
  font-size: 21px !important;
  margin: auto !important;
 }
.strong {
  font-weight: 800 !important;
  font-size: 20px !important;
}
 .center-button {
  font-size: 13px !important;
  height: auto !important;
  display: block;
  padding: 18px 70px !important;
  margin: 0 auto !important;
  margin-bottom: 20px !important;
  text-align: center; 
  background-color: #E0B9B4 !important;
}

 .button-settings{
   padding: 40px 40px !important;
 }
 .wp-block-button{
  padding: 40px 20px !important;
  margin-top: 50px !important;
 }
 .wp-block-button__link{
  padding:  25px 0 !important;
  width: 100% !important;

 }

 /*Personnalisation des bordures de block */
 .parent-rounded-container {
  position: relative;
  overflow-x: hidden !important;

  /* autres styles nécessaires pour le conteneur */
}
 .border-block {
  position: relative;
  z-index: -1;
  border-bottom: 10px solid #e3d9d0;
  padding-top: 80px !important;
  padding-left: 40px;
  padding-right: 40px;
  left: 50%;
  transform: translateX(-50%); /* Centrage parfait horizontalement */
  width: 200%;
  border-radius: 0 0 45% 45%; /* Les deux premiers zéros sont pour les coins supérieurs, les 25px sont pour les coins inférieurs */
}

.border-block2 {
  position: relative;
  z-index: -1;
  padding-top: 80px !important;
  padding-left: 40px;
  padding-right: 40px;
  left: 50%;
  transform: translateX(-50%); /* Centrage parfait horizontalement */
  width: 125%;
   border-radius: 0 0 100% 100%; /* Les deux premiers zéros sont pour les coins supérieurs, les 25px sont pour les coins inférieurs */
}
 
/* Conteneur parent avec position relative */
.wp-block-group {
   position: relative;
   z-index: 2;
}
/* Style pour image de fond */
.background-image {
   z-index: 2;
   position: relative; /* ou absolute si nécessaire */
}
/* Style pour superposer les images */
.left-lief{
   position: absolute;
   left: 45%;
   top: 66.6%;
   transform: translate(-50%, -50%);
   z-index: 1;
}
.right-lief{
   position: absolute;
   left: 54.9%;
   top: 66.6%;
   transform: translate(-50%, -50%);
   z-index: 1;
}
.vegetal1{
  position: absolute;
  left: 21%;
  top: 34%;
  transform: translate(-50%, -50%);

}
.vegetal2{
  position: absolute;
  left: 38.5%;
  top: 67%;
  transform: translate(-50%, -50%);
  z-index: 1;

}
.vegetal3{
  padding-top: 0 !important;
  margin-top: 0 !important;
  position: absolute;
  left: 88%;
  top: 75%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

/* Personnalisation des produits et de l'ajout de quantités */
.wp-block-separator{
  margin-bottom: 51px;
}
.container-of-product-quantity-blocks {
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto !important;
  align-items: center;
}

.product-quantity-block {
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center;
  width: calc(25% - 30px); /* Ajuste la largeur pour tenir compte des marges */
  vertical-align: top; /* Aligner les éléments en haut */
}
.product-image-and-number{
  display: flex;
  flex-direction: column;
}
.product-image-container {
  display: inline-block;
  margin-bottom: 5px;
}

.product-image {
  position: relative;
  display: block;
  height: auto;
}

.product-name {
  text-transform: uppercase;
  width: 100%;
  font-weight: 800;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px !important;
  color: white;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.quantity-change {
  background-color: #DC9F96;
  border: none;
  width: 45px;
  height: 31.75px;
  cursor: pointer;
  font-size: 1em; /* Ajuster selon le design souhaité */
  padding: 0 !important;
  

}

/* Spécifique pour les boutons plus et moins afin qu'ils soient de même largeur */
.quantity-plus,
.quantity-minus {
    text-align: center;
}
.quantity-plus {
  border-bottom: 1px solid white; /* Ajoute une bordure blanche en bas du bouton "+" */
}


.quantity-input {
  font-family: inter !important;
  border-radius: 5px 0 0 5px !important;
  width: 59px;
  height: 63.5px;
  text-align: center;
  font-size: 23px;
}

.quantity-buttons {
  display: flex;
  flex-direction: column; /* Empile les boutons verticalement */
  border-radius: 0 5px 5px 0;
  overflow: hidden;
}

.submit-container{
  margin-left: 15px;
}

.submit-quantity{
  padding: 18px 63px;
  border-radius: 4px;
}
.quantity-submit {
  background-color: #E0B9B4;
  border-radius: 5px;
  padding: 20px 39px;
  border: none;
  cursor: pointer;
  font-size: 0.6em; /* Ajuster selon le design souhaité */
    margin-left: 14px; /* Espacement entre les boutons de quantité et le bouton OK */
}


/* Cacher les flèches du champ de type number */
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Standard */
}


/* Contact form 7 */
 /*Personnalisation du formulaire de précommande */ 
 h3{
  font-size: 40px !important;
 }
 .pre-order-form-block{
  margin: auto !important;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pre-order-form{
display: flex ;
justify-content: space-between;
padding-top: 65px;
}
.form-column-1, .form-column-2{
width: 50%;
}

.form-column-1{
padding-right: 70px !important;
border-right: 1px solid #FFFFFF;
padding-bottom: 0 !important;
}

.form-column-2{
padding-left: 70px !important;
margin-right: 0 !important;
}
.pre-order-title-form{
font-weight: 700 !important;
}

.field-blocks{
  margin-right: 0;
  margin-top: 30px !important;
  width: 112% !important;
}
.pre-order-fields{
  font-weight: 400 !important;
  font-size: 28px !important;
}

p{
  margin-bottom: 0 !important;
}

.input[type="text"], .wpcf7-text{
border-radius: 8px !important;
padding: 17px 15px !important;
margin-top: 6px !important;
}

.submit-order{
  margin: auto;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 70px !important;

}

.wpcf7-spinner{
display: none !important;
}


.wpcf7-form-control{
height: 90px !important;
width: 89% !important;
}
.wpcf7-center-block{
  margin: auto !important;
  text-align: center;
  width: 20% !important;

}

.wpcf7-submit{
  border-radius: 4px;
  padding: 13px 50px !important;
  height: 60px !important;
  font-size: 16px !important;
  text-align: center;
  width: 100%;
}
 /* FOOTER */
 #site-footer {
   bottom: 0;
   width: 100%;
   margin-bottom: 0px !important;
   padding: 25px;
   padding-bottom: 0px;
   text-align: center;
   background-color: #FFFFFF !important;
   z-index: 10 !important;
}
.footer-content{
  padding-bottom: 40px !important;
}
.footer-link{
  color: #000000 !important;
}
.footer-link:hover{
  color: #C02E44 !important;
}

/* MEDIA QUERIES */
@media (max-width: 1810px) {
  .wp-block-group__inner-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    flex-basis: 100% !important;
}
  .submit-quantity {
    padding: 18px 43px;
}

.product-name{
  font-size: 20px !important;
}
}

/* Pour les petits laptops et desktops */
@media (max-width: 1873px) {
  .inside-header{
    padding: 0 !important;
    max-width: 1798px !important;
  }
 
}
@media (max-width: 1798px) {
   /* ACCUEIL */
 .vegetal3{
  top: 75%;
}
}
@media (max-width: 1730px) {
   /* ACCUEIL */
 .vegetal3{
  top: 77%;
}
}


@media (max-width: 1699px) {
     /* ACCUEIL */
  .vegetal3{
    top: 80%;
  }
  
}
@media (max-width: 1582px) {
  /* ACCUEIL */
  .vegetal3{
    top: 81%;
  }

  /* COMMANDER */
  .submit-quantity {
    padding: 18px 33px;
}
.wpcf7-center-block{
  width: 25% !important;
}

.wpcf7-form-control {
  height: 70px !important;
}
}

@media (max-width: 1468px) {
  h3{
    font-size: 24px !important;
  }
  /* ACCUEIL */
  .vegetal3{
    top: 87% !important;
  }

  .pre-order-fields{
    font-size: 18px !important;
  }
  .submit-quantity {
    padding: 18px 23px;
}
  .quantity-submit{
    padding: 20px 19px !important;
  }

  .wpcf7-submit{
    padding: 10px 20px !important;
  }
}
@media (max-width: 1440px) {
  .site-main {
    padding-left: 0 !important;
    padding-right: 0 !important;
    flex-basis: 100% !important;
}
}
@media (max-width: 1353px) {
  .submit-quantity {
    padding: 18px 13px;
}
  .quantity-submit{
    padding: 20px 19px !important;
  }
}
@media (max-width: 1300px) {

  /* ACCUEIL */

  
 .inside-article {
  padding:  0px 0 !important;
}
  .alignwide{
    width: 100% !important;
    margin-left: 0 !important;
  }
  .center-block-1 {
    font-size: 40px !important;
  }
  .center-block-2 {
    font-size: 40px !important;
  }
  .center-block {
    font-size: 40px !important;
    margin-bottom: 10px !important;

  }

  /* COMMANDER */

  .top-order-block{
    margin-top: 40px !important;
  }

}

/* Pour tablettes en mode paysage et petits desktops */
/* Pour tablettes en mode portrait */


@media (max-width: 1239px) {
    /* Page ACCUEIL */
.vegetal3{
  top: 92% !important
}

  /* Page commander */
  .product-name{
    top: 44px;
    font-size: 15px !important;
  }
  .quantity-submit{
    padding: 20px 50px !important;
    
  }
  .width-block-m2 {
    flex-direction: column !important;
  }
  .quantity-input{
    width: 39px !important;
    font-size: 12px;
  }
  .quantity-change{
    width: 35px;
  }
  .pre-order-form{
    flex-direction: column !important;
    justify-content: center !important;

  }
  .form-column-1, .form-column-2{
    width: 100% !important;
    border-right: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;

  }
  .form-column-1{
    padding-bottom: 60px !important;
  }
  .label{
    margin-left: 0 !important;
    text-align: start;
  }
  .form-column-2{
    padding-bottom: 30px !important;
  }
  .field-blocks {
    width: 100% !important;
}

}

@media (max-width: 1068px) {
  .mobmenur-container {
    margin-right: 0px !important;
    margin-top: 0 !important;
  }
  .mob-menu-logo-holder {
    margin-left: 12.5px !important;
  }
  #wpadminbar{
    width: 105.228% !important;
  }
 .header-image {
    width: 50% !important;
  }

  /* Page ACCUEIL */

.center-block {
    font-size: 22px !important;
}
.center-block-1 {
  font-size: 22px !important;
}
.center-block-2 {
    font-size: 23px !important;
}
.vegetal3{
  top: 94% !important;
}
.wp-block-column {
  width: 100%;
}
.wp-block-cover{
  height: 52px !important;
}
.tablet-block{
  flex-direction: column !important;
  width: 100% !important;
}
.img-block{
  margin-left: 0 !important;
  float:  left !important;
  height: 135px !important;
}
.adjust-central-block-members{
  margin-bottom: 22px !important;
}
.bottom-block-who-are-we{
  margin-bottom:  100px !important;
}
/* NOUS RENCONTRER */
.padding-block-form{
  flex-basis: 44% !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}
/* Page commander */
  .product-name{
    top: 40px;
  }
  .quantity-input{
    height: 54px;
    font-size: 11px;
    width: 37px !important;
  }
  .quantity-change{
    height: 27px;
    width: 25px !important;
  }
 .submit-quantity{
  font-size: 10px !important;
 }
 .width-block-m{
  margin: 0 !important;
  margin-bottom: 1px !important;
  margin-right: 0;
  line-height: 0;
 }
 /* FOOTER */

}

/* Pour tablettes en mode portrait */
@media (max-width: 956px) {
  html, body {
    overflow-x: hidden;
    
  }
  
  .main-navigation{
    background-color: transparent !important;;
  }
  h2{
    font-size: 27px !important;
  }

  .wp-image-86{
width: 125px !important;
  }
  .mobmenur-container {
    top: 0px;
    margin-right: 5px;
    margin-top: 0 !important;
}

/* Page ACCUEIL */
#page{
  height: auto !important;
}
#main{
  height: auto !important;
}

.left-lief{
  left: 40.8%;
  top: 63%;
}
.right-lief{
  left: 59% !important;
  top: 63% !important;

}
.negative-down-block{
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: auto !important;
}

.top-block{
  margin-bottom: 50px !important;
}
.wp-block-buttons>.wp-block-button.wp-block-button__width-25 {
  width: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.group-block{
  width: 100% !important;
  margin: auto !important;
  margin-bottom: 30px !important;
  text-align: center;
  gap: 30px !important;

}
.img-block{
  margin: auto !important;
  text-align: center;
  float: none !important;
  height: 135px !important;
  justify-content: center;
  align-items: flex-start !important;
  vertical-align: baseline !important;
}

.is-vertically-aligned-center{
  align-self: first baseline !important;
}
.img-width{
width: 123px !important;
}
.alignright {
  
  height: 135px !important;
}
.width-block-m{
  margin-top: -20px !important;
  /* margin-left: -40px !important;
  width: calc(100% + 80px) !important;
  max-width: calc(100% + 80px); */
}
.alignright{
  margin: 0 !important;
}
.wp-block-button{
  margin-top: 30px !important;
}
.align-block{
  align-self: flex-start !important;
  
}
.bottom-block-who-are-we{
  margin-bottom:  100px !important;
}

/* Page Nous Rencontrer */
/* .who-are-we{
  display: flex !important;
} */
.width-block-meet-us{
  width: 60% !important;
  max-width: 60% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 90px !important;
}

.border-block2{
  padding-top: 0 !important;
  border-radius: 0 0 30% 25%;
}
.wp-block-group__inner-container{
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.down-block-0{
 padding-left: 0 !important;
 padding-right: 0 !important;
}
.width-block-m1{
  width: 110% !important;
}
.vegetal3 {
  top: 96% !important;
}
.vegetal2{
  left: 35.5%;
  top: 70%;
}
.center-button{
  margin-top: 40px !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.bottom-block-who-are-we {
  margin-bottom: 0px !important;
}
/* Page commander */
.inside-article{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
 .container-of-product-quantity-blocks{
  flex-direction: column;
 }

 .product-quantity-block{
  width: auto;
 }
 .quantity-input{
  font-size: 16px;
  width: 68px !important;
  height: 62px !important;
 }

 .product-name{
  top: 30% !important;
  font-size: 35px !important;
 }

 .quantity-change{
  width: 45px !important;
  height: 31px;
 }

 .submit-quantity {
  padding: 19px 80px;
  font-size: 16px !important;
}
.wpcf7-center-block {
  width: 50% !important;
}
}

/* Pour téléphones en mode paysage */

@media (max-width: 780px) {
  .mobile-menu-control-wrapper {
    margin-top: 0 !important;
}

  /* ACCUEIL */

  .group-block{
    width: 60% !important;
  }
  .left-lief{
    left: 40.61%;
    top: 63%;
  }
  /* NOUS RENCONTRER */
  .vegetal3{
    top: 99% !important;
  }
  .width-block-m1 {
    width: 90% !important;
  }

/* COMMANDER */
  .wpcf7-form-control{
    height: 60px !important;
    width: 100% !important;
  }
 
  .wpcf7-center-block{
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
 
  .submit-order{
    width: 50% !important;
    display: flex;
    justify-content: center;
  }
  .wpcf7-submit{
    width: 100% !important;
  }
  P{
    width: 100% !important;
  }
}

/* Pour téléphones en mode portrait */
@media  (max-width: 538px){
  /* ACCUEIL */
  .left-lief{
    left: 42.8%;
    top: 67%;
  }
  .right-lief{
      left: 56.8% !important;
      top: 67% !important;
  }
  /* NOUS RENCONTRER */
    .vegetal3{
      top: 100.5% !important;
    }
    .bottom-block-who-are-we {
      margin-bottom: 0px !important;
    }
  }


   

@media (max-width: 480px) {
#content{
    width: 100%;
  }
  h2{
    font-size: 21px !important;
  }
  p{
    font-size: 25px !important;
  }
  /* Page ACCUEIL */
  .wp-block-buttons>.wp-block-button.wp-block-button__width-25 {
    width: 80%;
  }
  .center-block-left-right{
    width: 63% !important;
    padding-left: 0;
    padding-right: 0;
  }
  .padding-block{
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .padding-block-l{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .left-lief{
    height: 61% !important;
    width: 34% !important;
    left: 42.8%;
    top: 75%;
  }
  .right-lief{
    height: 61% !important;
    width: 34% !important;
    left: 56.5% !important;
    top: 75% !important;
  }
  .margin-home-block{
   width: 70% !important;
   margin-left: auto !important;
   margin-right: auto !important;
    }
    
  /* NOUS RENCONTRER */
  .font-meet-us{
    font-size: 30px !important;
  }
  .vegetal1{
    top: 13%;
  }
  .width-block-m1 {
    width: 90% !important;
  }
  .vegetal3 {
    top: 100.4%;
  }
  .vegetal2 {
    left: 19.5%;
    top: 71%;
  }
  .top-block-meet-us{
    margin-top: 40px !important;
  }

  /* Page commander */
  .top-block-order {
    margin-top: 5px !important;
    margin-bottom: 0 !important;
  }
.product-quantity-block{
    width: 90% !important;
    margin: 10px 0 !important;
  } 
.product-name {
    top: 30% !important;
    font-size: 18px !important;
}
.quantity-controls{
  margin-bottom: 20px !important;
}
.quantity-input {
  font-size: 16px;
  width: 45px !important;
  height: 50px !important;
}
.quantity-change {
  width: 35px !important;
  height: 25px;
  font-size: 17px;
}
.submit-quantity {
  padding: 19px 21px;
  font-size: 10px !important;
}


h3{
  font-size: 22px !important;
  text-align: center !important;
 }
 .wp-block-column{
  width: 100% !important;
 }
 .pre-order-form-block{
  margin: auto !important;
  width: 85%;
 }
 .wpcf7-form-control {
  height: 50px !important;
  width: 100% !important;
}
.submit-order{
  width: 100% !important;
  display: flex;
  justify-content: center;
}
.wpcf7-submit{
  width: 70% !important;
}
}
@media (max-width:450px) {
    /* NOUS RENCONTRER */
    .vegetal3{
      top: 101.5% !important;
    }
  
}
@media (max-width:350px) {
  .site-logo{
    width: 80% !important;
  }
}

/* Pour téléphones de très petites tailles */
@media (max-width: 300px) {
  h2{
    font-size: 16px !important;
  }
  .site-logo{
    width: 50% !important;
  }
  .header-image{
    margin-left: 0 !important;
    width: 100% !important;
  }
  .size-full{
    max-width: 43% !important;
  }

  /* ACCUEIL */
  .wp-image-86 {
    width: 86px !important;
  }
  .width-block-meet-us{
  max-width: 80% !important;
  font-size: 24px !important;
  margin-bottom: 0 !important;
  }
  .top-block-meet-us{
    font-size: 24px !important;
    margin-bottom: 0 !important;
  }
  .center-block-left-right{
    width: 63% !important;
  }
  .center-block{
    font-size: 25px !important;
    margin-bottom: 60px !important;
  }
  .center-block-1{
    font-size: 25px !important;

  }
  .center-block-2{
    font-size: 25px !important;
  }
  .down-block-1{
    margin-bottom: 0 !important;
  }
  .width-block-m{
    margin-top: 10px !important;
  }
  .group-block {
    width: 90% !important;
  }
  .vegetal2 {
    left: 25.5%;
    top: 74%;
  }

  /* NOUS RENCONTRER */
  .vegetal3{
    top: 102.5% !important;
  }
  /* COMMANDER */
  .down-block-1 {
    margin-bottom: 20px !important;
}

}
